* {
  border: none;
  border-radius: 0;
  font-family: CaskaydiaCove Nerd Font, monospace;
  font-weight: 500;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  color: #cdd6f4;
  background-color: transparent;
}

tooltip {
  border-style: solid;
  border-radius: 5px;
}

#custom-updates,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#memory,
#language,
#cpu,
#temperature,
#disk,
#backlight,
#custom-weather {
  padding: 0px 4px;
  color: white;
}

#temperature.critical {
  color: #eb4d4b;
}

#battery.warning {
  color: orange;
}

#battery.critical:not(.charging) {
  animation: blinker 1s infinite;
  color: red;
  font-size: 16px;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

#tray {
  margin-bottom: 2px;
}

#custom-separator {
  color: grey;
  margin-top: 7px;
}

#workspaces button {
  color: white;
  border-radius: 10px;
  padding: 4px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.8);
  color: black;
}

#workspaces button.urgent {
  color: #11111b;
  border-radius: 10px;
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.modules-left,
.modules-right {
  padding: 4px 10px;
  background-color: #000;
}

.modules-left {
  border-bottom-right-radius: 10px;
}
.modules-right {
  border-bottom-left-radius: 10px;
}
